.portfolio-button {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  list-style: none;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio-button-list:not(:last-child) {
  margin-right: 8px;
}
