.portfolio__button {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.button__list {
  list-style: none;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: left;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    justify-content: center;
  }
}
// .portfolio-button__list {
//   width: calc(100% / 3 - 30px);
//   &:not(:nth-last-child(3n)) {
//     margin-left: 30px;
//   }
// }

.portfolio-button__list:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
