.project-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  @include font(18px, null, 2, 0.06em);
  // font-size: 18px;
  // line-height: 2;
  // letter-spacing: 0.06em;
  color: var(--third-title-color);
}
.project-program {
  @include font(16px, null, 1.87, 0.03em);
  // font-size: 16px;
  // line-height: 1.87;
  // letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.project__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-right: -30px;
  }
  // display: flex;
  // flex-wrap: wrap;
  // @media screen and (min-width: 480px) {
  //   justify-content: center;
  // }
}
.project-item {
  // width: calc(100 / 3 -30px);
  // max-width: 100%;
  margin-bottom: 30px;
  position: relative;

  // &:not(:nth-last-child(3n)) {
  //   margin-left: 30px;
  // }
  @media screen and (min-width: 768px) {
    height: 100%;
    display: flex;
    flex-flow: column;
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-left: 15px;
    // width: calc(100% / 2 - 30px);
    // &:not(:nth-last-child(2n)) {
    //   margin-left: 30px;
    // }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
    margin-left: 0;
    margin-right: 30px;
  }
}

.project-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms linear;
  .project-item:hover & {
    transform: translateY(0);
  }
}
.project-item-wrap {
  position: relative;
  overflow: hidden;
}
.project-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project-shadow {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
