.hero__btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--first-title-color);
  background-color: var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.all__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: var(--accent-color);
  padding: 6px 22px;
}
.web__btn,
.app__btn,
.design__btn,
.marketing__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  padding: 6px 22px;
}

.footer__btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: var(--accent-color);
  padding: 10px 29px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  border: none;
  margin: 0 auto;
}

.btn__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--btn-color);
  }
}
.modal__btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: #188ce8;
  padding: 10px 29px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}
