.team-social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  & + & {
    margin-left: 10px;
  }
}
.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--first-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--first-title-color);
  }
}
.social__icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
// .footer-social-icon {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   fill: currentColor;
// }

// .footer-social-item {
//   & + & {
//     margin-left: 10px;
//   }
// }
// .footer-social-link {
//   width: 44px;
//   height: 44px;
//   background-color: rgba(255, 255, 255, 0.1);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 50%;
//   color: var(--first-title-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//     color: var(--first-title-color);
//   }
// }
